{% extends 'base.html.twig' %}

{% block title %}
    {{ event.name }} - Gesamtschnellste
{% endblock %}

{% block body %}
<h1>{{ event.name }} - Gesamtschnellste</h1>

<div class="row">
    <h2>Männer</h2>
    {% for category, paces in males %}
        <div class="col-md-{{ (12 / count(males)) | round(0, 'ceil') }}">
            <h3>{{ category }}</h3>
            {% set i = 1 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>500m-Zeit</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for pace,registrations in paces %}
                    {% for registration in registrations %}
                    <tr>
                        <td>{{ i }}</td>{% set i = i + 1 %}
                        <td>{{ pace | timeString }}</td>
                        <td>{{ include('race/_registration.title.html.twig', { 'registration': registration }, with_context = false) }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

<div class="row">
    <h2>Frauen</h2>
    {% for category, paces in females %}
        <div class="col-md-{{ (12 / count(females)) | round(0, 'ceil') }}">
            <h3>{{ category }}</h3>
            {% set i = 1 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>500m-Zeit</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for pace,registrations in paces %}
                    {% for registration in registrations %}
                        <tr>
                            <td>{{ i }}</td>{% set i = i + 1 %}
                            <td>{{ pace | timeString }}</td>
                            <td>{{ include('race/_registration.title.html.twig', { 'registration': registration }, with_context = false) }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}