{% extends 'base.html.twig' %}

{% block body %}
    {% set isAdmin = is_granted('ROLE_REGISTRATION') %}
    <h1>Sportler</h1>

{% if isAdmin %}
    <div class="hidden-print">
        <p>
            <a class="btn btn-default" role="button" href="{{ path('competitor_new') }}">Neu</a>
        </p>
    </div>
{% endif %}

    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th data-defaultsign="az" data-defaultsort="asc">Nachname</th>
                <th data-defaultsign="az">Vorname</th>
                <th data-defaultsign="_19">Geburtsjahr</th>
                <th>Geschlecht</th>
                {% if isAdmin %}<th data-defaultsort="disabled">&nbsp;</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr>
                <td><a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.lastName }}</a></td>
                <td><a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.firstName }}</a></td>
                <td>{{ competitor.yearOfBirth }}</td>
                <td>{{ competitor.gender }}</td>
                {% if isAdmin %}<td>
                    <a class="btn btn-default" role="button" href="{{ path('competitor_edit', { 'id': competitor.id }) }}">ändern</a>
                </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
