{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ competitor.lastName | upper }}, {{ competitor.firstName }} {{ competitor.getGenderSymbol }}</h1>

    <dl class="dl-horizontal">
        <dt>Geburtsjahr</dt>
        <dd>{{ competitor.yearOfBirth }}</dd>
        <dt>DRV-ID</dt>
        <dd>{% if null != competitor.drvId %}{{ competitor.drvId }}{% else %}nicht verfügbar{% endif %}</dd>
    </dl>

    <hr>

    <p><strong>Mitgliedschaften</strong> <span class="badge">{{ competitor.memberships | count }}</span> </p>

    <table class="table table-striped sortable">
        <thead>
        <tr>
            <th data-defaultsign="az" data-defaultsort="asc">Verein</th>
            <th>Von</th>
            <th>Bis</th>
{% if true %}<th data-defaultsort='disabled'></th>{% endif %}{# TODO check user rights #}
        </tr>
        </thead>
        <tbody>
        {% for membership in competitor.memberships %}
        <tr>
            <td>{{ membership.club.name }}</td>
            <td data-dateformat="DD.MM.YYYY">{{ membership.since | date("d.m.Y")}}</td>
            <td data-dateformat="DD.MM.YYYY">{% if null != membership.until %}{{ membership.until | date("d.m.Y")}}{% endif %}</td>
{% if true %}<td><a href="{{ path('membership_edit', { 'id': membership.id }) }}" class="btn btn-default">Edit</a></td>{% endif %}{# TODO check user rights #}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% if true %}
    <hr>
    <div>
        <a href="{{ path('membership_new', { 'competitor': competitor.id }) }}" class="btn btn-default">Neue Mitgliedschaft hinzufügen</a>
    </div>
{% endif %}{# TODO check user rights #}
    <hr>

    <ul>
        <li>
            <a href="{{ path('competitor_index') }}">Zurück zur Übersicht</a>
        </li>
        <li>
            <a href="{{ path('competitor_edit', { 'id': competitor.id }) }}">Bearbeiten</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}