{% extends 'base.html.twig' %}

{% block body %}
{% set canChange = is_granted('ROLE_REGISTRATION') %}
    <h1>{{ competitor.lastName | upper }}, {{ competitor.firstName }} {{ competitor.getGenderSymbol }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Geburtsjahr</th>
                            <td>{{ competitor.yearOfBirth }}</td>
                        </tr>
                        <tr>
                            <th>DRV-ID</th>
                            <td>{% if null != competitor.drvId %}{{ competitor.drvId }}{% else %}nicht verfügbar{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% if canChange %}
        <div class="col-md-6 hidden-print">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Person anpassen</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('competitor_edit', { 'id': competitor.id }) }}" class="btn btn-warning">Bearbeiten</a>
                        </div>
                        <div class="col-md-6">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Löschen" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </div>
    <hr>

    <p><strong>Mitgliedschaften</strong> <span class="badge">{{ competitor.memberships | count }}</span> </p>

    <table class="table table-striped sortable">
        <thead>
        <tr>
            <th data-defaultsign="az" data-defaultsort="asc">Verein</th>
            <th>Seit</th>
            <th>Bis</th>
{% if canChange %}<th data-defaultsort='disabled'></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for membership in competitor.memberships %}
        <tr>
            <td><a href="{{ path('club_show', { 'id': membership.club.id }) }}">{{ membership.club.name }}</a></td>
            <td data-dateformat="DD.MM.YYYY">{{ membership.since | date("d.m.Y")}}</td>
            <td data-dateformat="DD.MM.YYYY">{% if null != membership.until %}{{ membership.until | date("d.m.Y")}}{% endif %}</td>
{% if canChange %}<td><a href="{{ path('membership_edit', { 'id': membership.id }) }}" class="btn btn-default">Ändern</a></td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% if canChange %}
    <hr>
    <div>
        <a href="{{ path('membership_new', { 'competitor': competitor.id }) }}" class="btn btn-default">Neue Mitgliedschaft hinzufügen</a>
    </div>
{% endif %}
    <hr>

    <div>
        <a href="{{ path('competitor_index') }}" class="btn btn-default">Zurück zur Übersicht</a>
    </div>
{% endblock %}