<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-print.min.css') }}" rel="stylesheet" media="print">
    {% block bootstrap_theme %}{# add additional bootstrap styling here #}{% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->

    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-sortable.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container"> <!-- for margin left & right -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Regatta</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('event_index') }}">Veranstaltungen</a></li>
                    <li><a href="{{ path('club_index') }}">Vereine</a></li>
                    <li><a href="{{ path('competitor_index') }}">Personen</a></li>
{% if event is defined and event.id is not empty %}
    {% if is_granted('ROLE_EVENT_ORGANIZER') %}
                    <li><a href="{{ path('drv_import_index', { 'id': event.id }) }}">Import DRV-Meldungen</a></li>
    {% elseif is_granted('ROLE_REGISTRATION') %}
                    <li><a href="{{ path('billing_index', { 'event': event.id }) }}">Rechnungen</a></li>
    {% endif %}
{% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js ') }}"></script>
<!-- library for sorting dates -->
<script src="{{ asset('js/moment-with-locales.js') }}"></script>
<script>
    moment.locale('de');
</script>
<!-- library for sorting tables -->
<script src="{{ asset('js/bootstrap-sortable.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>