{# registration of type Registration #}
{% set team = registration.getTeam() %}
{% if registration.isDeregistered or registration.hasChangedToNewRace %}<s>{% endif %}
{{ team.getName() }}<br>
<em>{% for m in team.getMembers %}{{ m.getMembership.getPerson.getFirstName }}
       {{ m.getMembership.getPerson.getLastName | upper }}
       ({% if m.getIsCox %}Stm., {% endif %}{{ m.getMembership.getPerson.getYearOfBirth }}, {{ m.getMembership.getPerson.getAge }}) {% endfor %}
</em>
{% if registration.isDeregistered or registration.hasChangedToNewRace %}</s>{% endif %}
{% if registration.isFromOtherRace %}<br>(aus Rennen <a href="{{ path('race_show', { 'event': registration.getChangedRace.event.id, 'race': registration.getChangedRace.id }) }}">#{{ registration.getChangedRace.getNumberInEvent }}</a>){% endif %}
{% if registration.isFinished %}
       {% if registration.timings.count > 2 %}{# start+finish plus at least one checkpoint #}
              <br><br><small>{{ render(controller('AppBundle:Timing:singlePeriods', { 'registration': registration })) }}</small>
       {% endif %}
{% endif %}