{# registration of type Registration #}
{# rank of type integer #}
{# isRowRace of type boolean #}
{# distance of type integer|null #}
{# rr of type RaceRepository #}
{% set team = registration.getTeam() %}
{% set spacer = "&mdash;" %}
<tr>
    <td>
        {% if registration.isAborted or registration.isNotAtStart %}&mdash;{% else %}{{ rank }}{% endif %}
    </td>
    <td>
        {{ include('race/_registration.title.html.twig', { 'registration': registration }, with_context = false) }}
{% if isRowRace %}
    {% if distance >= 500 %}
        <table class="table">
            <tbody>
                <td width="25%">{{ render(controller('AppBundle:Timing:singleCheckpointTimeString', { 'registration': registration, 'checkpointName': '500m' })) }}</td>
                <td width="25%">{% if distance >= 1000 %}{{ render(controller('AppBundle:Timing:singleCheckpointTimeString', { 'registration': registration, 'checkpointName': '1000m' })) }}{% else %}&nbsp;{% endif %}</td>
                <td width="25%">{% if distance >= 1500 %}{{ render(controller('AppBundle:Timing:singleCheckpointTimeString', { 'registration': registration, 'checkpointName': '1500m' })) }}{% else %}&nbsp;{% endif %}</td>
                <td width="25%">{% if distance >= 2000 %}{{ render(controller('AppBundle:Timing:singleCheckpointTimeString', { 'registration': registration, 'checkpointName': '2000m' })) }}{% else %}&nbsp;{% endif %}</td>
            </tbody>
        </table>
    {% endif %}
{% else %}
        {% if registration.timings.count > 2 %}{# start+finish plus at least one checkpoint #}
            <br><small>{{ render(controller('AppBundle:Timing:singlePeriods', { 'registration': registration })) }}</small>
        {% endif %}
{% endif %}
    </td>
{% if registration.isAborted %}
    <td>abgebrochen</td>
{% elseif registration.isNotAtStart %}
    <td><abbr title="nicht am Start erschienen">n.a.S.e.</abbr></td>
{% elseif isRowRace and (registration.section.race.runRace is not null and rr.isFinished(registration.section.race.runRace)) %}
    {% set runReg = registration.tryToGetCorrespondingRunRegistration() %}
    {% if runReg is not null and runReg.isFinished %}{% set totalTime = registration.getFinalTime + runReg.getFinalTime %}{% else %}{% set totalTime = -1 %}{% endif %}
    <td data-value="{{ totalTime }}">
        <table class="table">
            <tr style="border-top: hidden">
                <td colspan="2" style="text-align: center"><strong>{% if totalTime > 0 %}{{ totalTime | timeString }}{% else %}{{ spacer | raw }}{% endif %}</strong></td>
            </tr>
            <tr>
                <td width="50%">{{ registration.getFinalTime | timeString }}</td>
                <td width="50%">{% if runReg is not null and runReg.getFinalTime > 0 %}{{ runReg.getFinalTime | timeString }}{% else %}{{ spacer | raw }}{% endif %}</td>
            </tr>
        </table>
    </td>
{% else %}
    <td data-value="{{ registration.getFinalTime }} "><strong>{{ registration.getFinalTime | timeString }}</strong></td>
{%- endif -%}
</tr>