{# registration of type Registration #}
{# withLane (optional) of type bool - should the lane column be rendered? #}
{# lanesChangeable (optional) of type bool - is it allowed to move the starters? #}
{% set team = registration.getTeam() %}
<tr>
    {% if withLane is not defined or withLane == true %}
    <td>
        {{ registration.getLane() }}
    </td>
    {% endif %}
    <td>
        {{ include('race/_registration.title.html.twig', { 'registration': registration }, with_context = false) }}
    </td>
    {% if registration.isFinished %}
    <td data-value="{{ registration.getFinalTime }} "><strong>{{ registration.getFinalTime | timeString }}</strong></td>
    {% else %}
    <td data-value="9999999999">
        {% if registration.isStarted %}
            <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span class="sr-only">gestartet</span> <a href="{{ path('race_abort', { 'registration' : registration.id }) }}" class="btn btn-danger">abbrechen (wegen Aufgabe/Verletzung)</a>
        {% elseif registration.isAborted %}
            abgebrochen
        {% elseif registration.isNotAtStart %}
            <abbr title="nicht am Start erschienen">n.a.S.e.</abbr>
            {% if lanesChangeable is defined and lanesChangeable == true %}
                {{ render(controller('AppBundle:RaceSectionMove:getPageContent', { 'registration': registration })) }}
            {% endif %}
        {% elseif not registration.hasChangedToNewRace and not registration.isDeregistered %}
            {% if registration.isCheckedIn %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">eingeloggt</span>
            {% endif %}

            {% if is_granted('ROLE_REGISTRATION') %}
                {% if not registration.isCheckedIn -%}
                    <a class="btn btn-success" href="{{ path('team_checkin', { 'team': team.id }) }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Einchecken</a>
                {% endif -%}
                {{ render(controller('AppBundle:Registration:getEditContent', { 'race': registration.section.race, 'team': team })) }}
                {% if lanesChangeable is defined and lanesChangeable == true %}
                    {{ render(controller('AppBundle:RaceSectionMove:getPageContent', { 'registration': registration })) }}
                {% endif %}
            {% endif %}
        {% elseif registration.isDeregistered %}
            abgemeldet
            {% if is_granted('ROLE_REGISTRATION') %}
                {{ render(controller('AppBundle:Registration:getUndoContent', { 'registration': registration })) }}
            {% endif %}
        {% elseif registration.hasChangedToNewRace %}
            umgemeldet &raquo; <a href="{{ path('race_show', { 'event': getChangedRace.event.id, 'race': registration.getChangedRace.id }) }}">#{{ registration.getChangedRace.getNumberInEvent }}</a>
        {% endif %}
    </td>
    {% endif %}
</tr>