{% extends 'base.html.twig' %}

{% block title %}
    {{ event.getName }} - Übersicht der Rennen
{% endblock %}

{% block body %}
    <h1>Rennen</h1>

    <table class="table table-striped sortable">
        <thead>
            <th data-defaultsign="_19" data-defaultsort="asc">Nr.</th>
            <th data-defaultsign="az">Name</th>
            <th data-defaultsort='disabled'></th>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>
                    {{ race.numberInEvent }}{% if rr.isStarted(race) %}*{% elseif rr.isFinished(race) %}!{% endif %}
                </td>
                <td  data-value="{{ rr.getOfficialName(race) }}">
                    {% set counter = rr.getNumberOfRegistrations(race) %}
                    {% if counter > 0 %} <span class="label {% if counter < race.getStarterMin or counter > race.getStarterMax %}label-danger{% else %}label-success{% endif %}">{{ rr.getNumberOfRegistrations(race) }}</span>{% endif %}
                    <a href="{{ path('race_show', { 'race': race.id, 'event': race.event.id }) }}">{{ rr.getOfficialName(race) }}</a>
                    {% if race.extraText != "" %}<br /><em>{{ race.extraText }}</em>{% endif %}
                </td>
                <td>
                    {% if true %}
                    {# TODO only show this if the user has the right to change races #}
                    <a href="{{ path('race_edit', { 'race': race.id, 'event': race.event.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ändern</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_show', { 'id': event.id }) }}">Zurück zum Event</a>
        </li>
        <li>
            <a href="{{ path('race_new', { 'id': event.id }) }}">Neues Rennen erstellen</a>
        </li>
    </ul>
{% endblock %}
