{% extends 'base.html.twig' %}

{% block title %}
    {{ race.getEvent.getName }} - Rennen {{ race.numberInEvent }}
{% endblock %}

{% block body %}
    <h1>#{{ race.numberInEvent }}: {{ rr.getOfficialName(race) }}<br>
        {% if race.extraText != "" %}<small>{{ race.extraText }}</small>{% endif %}
    </h1>

    <table>
        <tbody>
            <tr>
                <th>Gender</th>
                <td>{{ race.gender }}</td>
            </tr>
            <tr>
                <th>Age (min.)</th>
                <td>{{ race.ageMin }}</td>
            </tr>
            <tr>
                <th>Age (max.)</th>
                <td>{{ race.ageMax }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ race.level }}</td>
            </tr>
            <tr>
                <th>Starter (min.)</th>
                <td>{{ race.starterMin }}</td>
            </tr>
            <tr>
                <th>Starter (max.)</th>
                <td>{{ race.starterMax }}</td>
            </tr>
            <tr>
                <th>max. starter per section</th>
                <td>{{ race.maxStarterPerSection }}</td>
            </tr>
            <tr>
                <th>Price per starter</th>
                <td>{{ race.pricePerStarter }}</td>
            </tr>
            <tr>
                <th>Competitors per team</th>
                <td>{{ race.teamsize }}</td>
            </tr>
        </tbody>
    </table>

    {% if true %}
        {# TODO show this only if the user has the right to modify races #}
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <a href="{{ path('race_edit', { 'race': race.id, 'event': race.event.id }) }}" class="btn btn-warning">Rennen ändern</a>
                {{ form_start(delete_form) }}
                <input type="submit" value="Rennen löschen" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
    {% endif %}

    <hr>
{% for section in race.getSections() %}
    <h2>Abteilung {{ section.getNumber() }}{% if section.isFinished %}*{% endif %}</h2>

    <table class="table table-striped sortable">
        <thead>
            <th data-defaultsign="_19" data-defaultsort="asc">Bahn</th>
            <th data-defaultsign="az">Name</th>
            <th data-defaultsort='_19'></th>
        </thead>
        <tbody>
            {% for group in section.getValidRegistrations() %}
                {{ include('race/_section.details.html.twig', { 'registration': group, 'section': section, 'race': race }, with_context = false) }}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% if invalidRegistrations is not null %}
    <h2>Um- / Abmeldungen</h2>

    <table class="table table-striped sortable">
        <thead>
            <th>Name</th>
            <th>Status</th>
        </thead>
        <tbody>
{% for registration in invalidRegistrations %}
        {{ include('race/_section.details.html.twig', { 'registration': registration, 'race': race, 'withLane': false }, with_context = false) }}
{% endfor %}
        </tbody>
    </table>
{% endif %}

    <div class="row">
        <div class="col-md-8">
            <a href="{{ path('race_index', { 'event': race.event.id }) }}" class="btn btn-default">Zurück zur Übersicht</a>
        </div>
    </div>

{% if true %}
    {# TODO show this only if the user has the right to start a race #}
    {# only show start button if there are enough competitors and the sections are not finished yet #}
    {% set finishedSections = 0 %}
    {% for s in race.sections %}
        {% if s.isFinished %}
            {% set finishedSections = finishedSections + 1 %}
        {% endif %}
    {% endfor %}
    {% if rr.getNumberOfRegistrations(race) >= race.getStarterMin and finishedSections != race.sections.count %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="{{ path('race_start', { 'event': race.event.id, 'race': race.id }) }}" class="btn btn-lg btn-primary">Rennen starten</a>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}
