{% set event = race.event %}
{% extends 'base.html.twig' %}

{% set finishedSections = 0 %}
{% for s in race.sections %}
    {% if s.isFinished %}
        {% set finishedSections = finishedSections + 1 %}
    {% endif %}
{% endfor %}

{% block title %}
    {{ race.getEvent.getName }} - Rennen {{ race.numberInEvent }}
{% endblock %}

{% block body %}
    <h1>#{{ race.numberInEvent }}: {{ rr.getOfficialName(race) }}
        {%- if race.extraText != "" or race.distance is not empty or race.runRace is not empty -%}
        <br><small>
        {%- if race.extraText != "" %}{{ race.extraText }}{% endif -%}
        {%- if race.distance is not empty %}{%- if race.extraText != "" %}<br>{% endif %}Distanz: {{ race.distance }} m{% endif -%}
        {%- if race.runRace is not empty %}{%- if race.extraText != "" or race.distance is not empty %}<br>{% endif %}Laufrennen: #{{ race.runRace.numberInEvent }}{% if race.runRace.distance is not null %} ({{ race.runRace.distance }} m){% endif %}{% endif -%}
        </small>
        {%- endif -%}
    </h1>

    {{ include('race/_show.details_for_logged_in_users.html.twig', { 'race': race, 'finishedSections': finishedSections, 'delete_form': delete_form }, with_context = false) }}
    <hr>
{% set first = true %}
{% for section in race.getSections() %}
{% if not first %}
    {# repeat header on each page #}
    <h1 class="visible-print always-page-break-before">#{{ race.numberInEvent }}: {{ rr.getOfficialName(race) }}<br>
        {% if race.extraText != "" %}<small>{{ race.extraText }}</small>{% endif %}
    </h1>
{% else %}
{% set first = false %}
{% endif %}
    <h2>
        Abteilung {{ section.getNumber() }}
{% if section.isFinished %}<br><small>{{ section.getStartTime | date('H:i:s') }} - {{ section.getLatestFinishingTime | date('H:i:s') }}</small>
{% elseif section.isStarted and not section.isFinished %}<br><small>gestartet um {{ section.getStartTime|date('H:i:s') }}</small>
{% endif %}
    </h2>
{% set num = (section.getValidRegistrations() | count) %}{% if race.maxStarterPerSection < num %}
    <div class="alert alert-warning">
        ACHTUNG: es sind nur {{ race.maxStarterPerSection }} Starter pro Abteilung erlaubt
    </div>
{% endif %}

    <table class="table table-striped sortable">
        <thead>
            <th data-defaultsign="_19" data-defaultsort="asc">Bahn</th>
            <th data-defaultsign="az">Name</th>
            <th data-defaultsort='disabled'></th>
        </thead>
        <tbody>
            {% for group in section.getValidRegistrations() %}
                {{ include('race/_section.details.html.twig', { 'registration': group, 'lanesChangeable': true }, with_context = false) }}
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% if invalidRegistrations is not null %}
    <h2 class="always-page-break-before">Um- / Abmeldungen</h2>

    <table class="table table-striped sortable">
        <thead>
            <th>Name</th>
            <th>Status</th>
        </thead>
        <tbody>
{% for registration in invalidRegistrations %}
        {{ include('race/_section.details.html.twig', { 'registration': registration, 'withLane': false }, with_context = false) }}
{% endfor %}
        </tbody>
    </table>
{% endif %}

    <div class="row hidden-print">
        <div class="col-md-8">
            <a href="{{ path('race_index', { 'event': race.event.id }) }}" class="btn btn-default">Zurück zur Übersicht</a>
        </div>
    </div>
{% endblock %}
