{% extends 'base.html.twig' %}

{% block title %}
    {{ race.getEvent.getName }} - Rennen {{ race.numberInEvent }}: {{ race_name }}
{% endblock %}

{% block body %}
    <h1>#{{ race.numberInEvent }}: {{ race_name }}<br>
        {% if race.extraText != "" %}<small>{{ race.extraText }}</small>{% endif %}
    </h1>

    {% for section in race.getSections() %}
        <h2>Abteilung {{ section.getNumber() }}</h2>
        <!-- if isStarted : show "started at <time>" else: -->

        {% if section.isStarted %}
            gestartet
        {% elseif section.isFinished %}
            fertig
        {% elseif section.isReadyToStart %}
        <div class="row">
            <div class="col" align="center">
                <form method="post" action="{{ path('timing_start', { 'section': section.id }) }}">
                    <input type="submit" class="btn btn-lg btn-default" value="Starten">
                </form>
            </div>
        </div>
        {% endif %}

        {# show this only if the race was not yet started #}
        {% if not section.isStarted and not section.isFinished %}
        <table class="table table-striped">
            <tbody>
                {% for group in section.getRegistrations() %}
                    {% set team = group.getTeam() %}
                        <tr>
                            <td>
                                {{ group.getLane() }}
                            </td>
                            <td>
                                {{ include('race/_registration.title.html.twig', { 'registration': group }, with_context = false) }}
                            </td>
                            <td>
                            {% if group.isCheckedIn %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">eingeloggt</span>
                            {% elseif group.isCancelled %}
                                <!-- not at start -->
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">nicht am Start erschienen</span>
                                {% if not group.isDeregistered %}
                                <a href="{{ path('race_start_reset', { 'registration': group.id }) }}">
                                    zurücksetzen
                                </a>
                                {% endif %}
                            {% elseif group.isDeregistered %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">de-registered</span>
                            {% elseif group.hasChangedToNewRace %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><span class="sr-only">re-registered for race {{ group.getChangedRace.getNumberInEvent }}</span>
                            {% else %}
                                <!-- TODO: maybe as (modal) popup? -->
                                <a href="{{ path('race_start_checkin', { 'registration': group.id }) }}" class="btn btn-success">
                                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                    Einchecken
                                </a>

                                <a href="{{ path('race_start_nas', { 'registration': group.id }) }}" class="btn btn-danger" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Nicht am Start
                                </a>
                            {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
{% endblock %}