{% extends 'base.html.twig' %}

{% block title %}
    {{ event.getName }} - Rechnung für {{ club.name }}
{% endblock %}

{% block body %}
<h1 class="visible-print-block">{{ event.getName }}</h1>
<h2>Rechnung für {{ club.name }}</h2>

<table class="table table-striped">
    <thead>
        <th>Nr.</th>
        <th>Rennen</th>
        <th style="text-align:right">Anzahl</th>
        <th style="text-align:right">Preis</th>
        <th style="text-align:right">Betrag</th>
    </thead>
    <tbody>
    {% for p in positions %}
        <tr>
            <td>{{ p.race.numberInEvent }}</td>
            <td>{{ rr.getOfficialName(p.race) }}</td>
            <td align="right">{{ p.teams }}</td>
            <td align="right">{{ p.race.pricePerStarter |number_format(2, ',', '') }} €</td>
            <td align="right">{{ p.amount |number_format(2, ',', '') }} €</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <th colspan="4">Total</th>
        <th style="text-align:right">{{ total |number_format(2, ',', '') }} €</th>
    </tfoot>
</table>

    {# TODO POST-form call that the amount was payed (before: popup to ask how! #}
<div class="hidden-print">
    <li>
        <a href="{{ path('billing_index', { 'event': event.id }) }}">Zurück zur Liste</a>
    </li>
</div>
<div class="visible-print-block">
    <p>Betrag dankend erhalten.</p>
</div>
{% endblock %}