{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventliste</h1>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Neue Veranstaltung erstellen</a>
        </li>
    </ul>

{% if count(upcomming_events) > 0 %}
    <h2>zukünftige Veranstaltungen</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Anmeldung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for event in upcomming_events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                <td>{% if event.start %}{{ event.start|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{% if event.end %}{{ event.end|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{% if event.registrationStart > date() %}
                        Möglich ab {{ event.registrationStart|date('d.m.Y H:i:s') }}.
                    {% else %}
                        {% set perc = event.getRegistrationTimePercentage() %}
                        {% if event.registrationEnd > date() %}
                            {% if perc < 60 %}
                                {% set css = '' %}
                            {% elseif perc > 60 and perc < 85 %}
                                {% set css = ' progress-bar-warning' %}
                            {% else %}
                                {% set css = ' progress-bar-danger' %}
                            {% endif %}
                    <div class="progress"><div class="progress-bar{{ css }}" role="progressbar" aria-valuenow="{{ perc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ perc }}%">noch {{ event.getRemainingRegistrationTime }}</div></div>
                        {% else %}
                        <span class="label label-default">nicht mehr möglich</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">mehr</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">bearbeiten</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

    <h2>vergangene Veranstaltungen</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>Ende</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in former_events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                <td>{% if event.start %}{{ event.start|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>{% if event.end %}{{ event.end|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">mehr</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">bearbeiten</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
