{% extends 'base.html.twig' %}

{% block title %}
    {{ event.name }} - Details
{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>

    <dl class="dl-horizontal">
        <dt>von/bis</dt>
        <dd>{% if event.start %}{{ event.start|date('d.m.Y H:i') }}{% endif %}
            {% if event.end %} -
                {% if sameDay(event.start, event.end) %}
                    {{ event.end|date('H:i') }}
                {% else %}
                    {{ event.end|date('d.m.Y H:i') }}
                {% endif %}
            {% endif %}</dd>
        <dt>Obleutebesprechung</dt>
        <dd>{% if event.representativesMeetingStart %}{{ event.representativesMeetingStart|date('H:i') }}{% endif %}
            {% if event.representativesMeetingEnd %} - {{ event.representativesMeetingEnd|date('H:i') }}{% endif %}</dd>
        <dt>Anmeldezeitraum</dt>
        <dd>{% if event.registrationStart %}{{ event.registrationStart|date('d.m.Y H:i') }}{% endif %}
        {% if event.registrationEnd %} - {{ event.registrationEnd|date('d.m.Y H:i') }}{% endif %}</dd>
        <dt>Website für mehr</dt>
        <dd><a href="#" target="_blank">{{ event.moreInfoWebsite }}</a></dd>
    </dl>

{% if true %}
    <div>
        <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-warning">Bearbeiten</a>
    </div>
    <div>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Löschen">
        {{ form_end(delete_form) }}
    </div>
{% endif %}{# TODO check user rights #}

    <hr />

    <p>
        {{ event.description | nl2br }}
    </p>

    <hr />

    {% if event.registrationStart < date() and event.registrationEnd > date() %}
        <a class="btn btn-default" role="button" href="#">anmelden</a>

        <hr />
    {% endif %}

    <div>
        <a href="{{ path('race_index', { 'event': event.id }) }}" class="btn btn-primary">Rennen anzeigen</a>
    </div>

    <hr>
    <a href="{{ path('event_index') }}" class="btn btn-default">Zurück zur Liste</a>
{% endblock %}
