{# club of type Club #}
{# edit_form of type Form #}
{# delete_form of type Form #}

{% extends 'form.edit.base.html.twig' %}

{% block title %}
    Verein bearbeiten{% if club.abbreviation is not empty %} - {{ club.abbreviation }}{% endif %}
{% endblock %}

{% block body %}
    <h1>{{ club.name }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Speichern" />
    {{ form_end(edit_form) }}

    <div>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Löschen">
        {{ form_end(delete_form) }}
    </div>
    <div>
        <a href="{{ path('club_index') }}" class="btn btn-default">Zurück zur Übersicht</a>
    </div>
{% endblock %}
