{# clubs of type Iterable[Club] #}

{% extends 'base.html.twig' %}

{% block title %}
    Vereinsübersicht
{% endblock %}

{% block body %}
    {% set isAdmin = is_granted('ROLE_REGISTRATION') %}
    <h1>Vereine</h1>

{% if isAdmin %}
    <div class="hidden-print">
        <p>
            <a class="btn btn-default" role="button" href="{{ path('club_new') }}">Neu</a>
        </p>
    </div>
{% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stadt</th>
                <th>Bundesland</th>
                {%- if isAdmin %}<th>&nbsp;</th>{% endif -%}
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'id': club.id }) }}">{{ club.name }}</a></td>
                <td>{{ club.city }}</td>
                <td>{{ club.state }}</td>
                {% if isAdmin %}<td>
                    <a class="btn btn-default" role="button" href="{{ path('club_edit', { 'id': club.id }) }}">ändern</a>
                </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
