{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ club.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Kurzname</th>
                            <td>{% if null != club.shortname %}{{ club.shortname }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Abkürzung</th>
                            <td>{% if null != club.abbreviation %}{{ club.abbreviation }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Stadt</th>
                            <td>{{ club.city }}{% if null != club.state %} ({{ club.state }}){% endif %}</td>
                        </tr>
                        <tr>
                            <th>Anschrift</th>
                            <td>{{ club.street }} {{ club.streetNumber }}</td>
                        </tr>
                        <tr>
                            <th>Postleitzahl</th>
                            <td>{{ club.zip }}</td>
                        </tr>
                        <tr>
                            <th>DRV-ID</th>
                            <td>{% if null != club.drvId %}{{ club.drvId }}{% else %}nicht verfügbar{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 hidden-print">
{% if is_granted('ROLE_REGISTRATION') %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Verein anpassen</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('club_edit', { 'id': club.id }) }}" class="btn btn-warning">Bearbeiten</a>
                        </div>
                        <div class="col-md-6">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Löschen" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
{% endif %}
        </div>
    </div>

    <p><strong>Mitgliedschaften</strong> <span class="badge">{{ activeMemberships | count }}</span> </p>
{% if count(activeMemberships) > 0 %}
    <table class="table table-striped sortable">
        <thead>
        <tr>
            <th data-defaultsign="az" data-defaultsort="asc">Nachname</th>
            <th data-defaultsign="az">Vorname</th>
            <th>Zeitraum</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in activeMemberships %}
            {% set p = membership.person %}
            <tr>
                <td><a href="{{ path('competitor_show', { 'id': p.id }) }}">{{ p.lastName }}</a></td>
                <td><a href="{{ path('competitor_show', { 'id': p.id }) }}">{{ p.firstName }}</a></td>
                <td>{{ membership.since | date("d.m.Y")}} -
                    {% if null != membership.until %}{{ membership.until | date("d.m.Y")}}
                    {% else %}∞{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if count(formerMemberships) > 0 %}
    <p><strong>ehemalige Mitgliedschaften</strong> <span class="badge">{{ formerMemberships | count }}</span> </p>

    <table class="table table-striped sortable">
        <thead>
        <tr>
            <th data-defaultsign="az" data-defaultsort="asc">Nachname</th>
            <th data-defaultsign="az">Vorname</th>
            <th>Zeitraum</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in formerMemberships %}
            {% set p = membership.person %}
            <tr>
                <td>{{ p.lastName }}</td>
                <td>{{ p.firstName }}</td>
                <td>{{ membership.since | date("d.m.Y")}} - {{ membership.until | date("d.m.Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

    <div class="row hidden-print">
        <hr>
        <div class="col-md-8">
            <a href="{{ path('club_index') }}" class="btn btn-default">Zurück zur Übersicht</a>
        </div>
    </div>
{% endblock %}
