{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ club.name }}</h1>

    <dl class="dl-horizontal">
    {% if null != club.abbreviation %}
        <dt>Abkürzung</dt>
        <dd>{{ club.abbreviation }}</dd>
    {% endif %}
        <dt>Stadt</dt>
        <dd>{{ club.city }}{% if null != club.state %} ({{ club.state }}){% endif %}</dd>
        <dt>Anschrift</dt>
        <dd>{{ club.street }} {{ club.streetNumber }}</dd>
        <dt>Postleitzahl</dt>
        <dd>{{ club.zip }}</dd>
    </dl>

    <hr>

    <p><strong>Mitgliedschaften</strong> <span class="badge">{{ club.memberships | count }}</span> </p>

    <table class="table table-striped sortable">
        <thead>
        <tr>
            <th data-defaultsign="az" data-defaultsort="asc">Nachname</th>
            <th data-defaultsign="az">Vorname</th>
            <th>Zeitraum</th>
        </tr>
        </thead>
        <tbody>
        {% for membership in club.memberships %}
            {% if null == membership.until or membership.until < now %}
            {% set p = membership.person %}
            <tr>
                <td>{{ p.lastName }}</td>
                <td>{{ p.firstName }}</td>
                <td>{{ membership.since | date("d.m.Y")}} -
                    {% if null != membership.until %}{{ membership.until | date("d.m.Y")}}
                    {% else %}∞{% endif %}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Zurück zur Übersicht</a>
        </li>
        <li>
            <a href="{{ path('club_edit', { 'id': club.id }) }}">Bearbeiten</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
