{% extends 'form.edit.base.html.twig' %}

{% block body %}
    <h1>Membership edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Speichern" />
    {{ form_end(edit_form) }}

    <div>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Löschen">
        {{ form_end(delete_form) }}
    </div>

    <hr>
    <a href="{{ path('competitor_show', { 'id': person.id }) }}" class="btn btn-default">Zurück zum Sportler</a>
{% endblock %}
