{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membership list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Since</th>
                <th>Until</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td><a href="{{ path('membership_show', { 'id': membership.id }) }}">{{ membership.id }}</a></td>
                <td>{% if membership.since %}{{ membership.since|date('Y-m-d') }}{% endif %}</td>
                <td>{% if membership.until %}{{ membership.until|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('membership_show', { 'id': membership.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('membership_edit', { 'id': membership.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('membership_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
