{# team of type Team #}
{# previousUrl of type string - optional #}
{% extends 'form.new.base.html.twig' %}

{% block title %}
    Team {{ team.id }} einchecken ({{ team.getClub().getShortName() }})
{% endblock %}

{% block body %}
    <h1>Einchecken</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Club</td>
            <td>Mannschaft</td>
            <td>Gruppenname</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ team.getClub().getShortName() }}</td>
                <td>
                    <em>{% for m in team.getMembers %}{{ m.getMembership.getPerson.getFirstName }}
                            {{ m.getMembership.getPerson.getLastName | upper }}
                            ({% if m.getIsCox %}Stm., {% endif %}{{ m.getMembership.getPerson.getYearOfBirth }}, {{ m.getMembership.getPerson.getAge }}) {% endfor %}</em>
                </td>
                <td>{{ team.getName() }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Speichern" />
        </div>
{% if previousUrl is defined and previousUrl is not empty %}
        <div class="col-md-6">
            <a href="{{ previousUrl|raw }}" class="btn btn-danger">Abbruch</a>
        </div>
{% endif %}
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $("#form_token").focus();
});
</script>
{% endblock %}